{:paths ["src" "resources"]
 :deps {org.clojure/clojure                     {:mvn/version "1.12.0"}
        org.scicloj/metamorph.ml                {:mvn/version "1.0"}
        cheshire/cheshire                       {:mvn/version "5.13.0"}
        techascent/tech.ml.dataset              {:mvn/version "7.035"}
        ;; tribuo core deps
        org.tribuo/tribuo-classification-core   {:mvn/version "4.3.1"}
        org.tribuo/tribuo-regression-core       {:mvn/version "4.3.1"}
        com.oracle.labs.olcut/olcut-core        {:mvn/version "5.3.1"}
        com.oracle.labs.olcut/olcut-config-json {:mvn/version "5.3.1"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check                {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner  {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                same/ish                              {:mvn/version "0.1.6"}
                ;;  the unit tests needs this
                org.tribuo/tribuo-regression-sgd      {:mvn/version "4.3.1"}
                org.tribuo/tribuo-classification-tree {:mvn/version "4.3.1"}}}


  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.6"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}
  :outdated {;; Note that it is `:deps`, not `:extra-deps`
             :deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}}}
